# API keys
HERO_OPENROUTER_API_KEY=your_openrouter_api_key_here

# Postgres credentials
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name_create_inside_postgres_server
POSTGRES_HOST=your_db_service_name_use _for_networking_communication_inside_docker_also_call_DNS_hostname